@import './styles.scss';
@import './general-settings.scss';

.todo {
  width: 100vw;
  height: 100vh;
  position: relative;

  &__top-background {
    background: url('../images/day-bg.png') center / cover no-repeat;
    width: 100%;
    height: 37.5%;
  }

  &__bottom-background {
    background-color: $bottom-background-day;
    height: 62.5%;
  }
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.logo {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 40px;
  letter-spacing: 15px;
  color: $white;
}

.switcher {
  width: 26px;
  height: 26px;
  background: url('../images/moon.svg') center / cover no-repeat;
}

.input {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 24px;
  margin-bottom: 24px;
  background-color: $white;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.25px;
  color: rgba(148, 149, 165, 1);
  position: relative;

  &__circle {
    width: 24px;
    height: 24px;
    border: 1px solid rgba(227, 228, 241, 1);
    border-radius: 50%;
    margin-right: 24px;
  }

  &__info,
  &__info-active {
    position: absolute;
    left: 73px;
    bottom: 23px;
    padding-top: 3px;
    pointer-events: none;
  }

  &__info-active {
    color: rgba(57, 58, 75, 1);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: -8px;
      width: 1px;
      height: 24px;
      background-color: rgba(58, 124, 253, 1);
    }
  }

  &__text-field {
    width: 90%;
    font-family: 'Josefin Sans', sans-serif;
    color: rgba(57, 58, 75, 1);
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.25px;
    padding-left: 143px;
    cursor: pointer;
    background-color: transparent;
  }
}

.tasks {
  background-color: $white;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  border-radius: 5px;
  margin-bottom: 49px;

  &__container {
    max-height: 389px;
    overflow-y: auto;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      background: rgba(240, 240, 240, 1);
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(200, 200, 200, 1);
      border-radius: 20px;
      border: 1px solid rgba(200, 200, 200, 1);
    }
  }

  &__item,
  &__item-completed {
    padding: 20px 24px 19px 19px;
    border-bottom: 1px solid rgba(227, 228, 241, 1);
    font-size: 18px;
    display: flex;
    align-items: center;
  }

  &__item {
    color: rgba(73, 76, 107, 1);
  }

  &__item-completed {
    & > .tasks__circle {
      background: url('../images/marked.svg') center no-repeat;
      border: 1px solid transparent;
    }

    & > .tasks__text {
      color: rgba(209, 210, 218, 1);
      text-decoration: line-through;
    }
  }

  &__item:hover .tasks__close-btn::before,
  &__item-completed:hover .tasks__close-btn::before,
  &__item:hover .tasks__close-btn::after,
  &__item-completed:hover .tasks__close-btn::after {
    opacity: 1;
    transition: 0.3s;
  }

  &__circle {
    width: 24px;
    height: 24px;
    margin-right: 24px;
    border: 1px solid rgba(227, 228, 241, 1);
    border-radius: 50%;
    cursor: pointer;
  }

  &__text {
    width: 90%;
    cursor: pointer;
  }

  &__close-btn {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    margin-left: auto;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 24px;
      height: 1px;
      opacity: 0;
      background-color: rgba(73, 76, 107, 1);
      transition: 0.3s;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }

  &__close-btn:hover::before,
  &__close-btn:hover::after {
    background-color: red;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px 20px 24px;
    color: rgba(148, 149, 165, 1);
    font-size: 14px;
    letter-spacing: -0.19px;
  }

  &__control {
    color: rgba(148, 149, 165, 1);
    margin-right: 18px;
    font-weight: 700;
    transition: 0.3s;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: rgba(73, 76, 107, 1);
      transition: 0.3s;
    }
  }

  &__control-active {
    color: rgba(58, 124, 253, 1);
    font-weight: 700;

    &:hover {
      color: rgba(58, 124, 253, 1);
    }
  }

  &__clear-completed {
    color: inherit;
    transition: 0.3s;

    &:hover {
      color: rgba(73, 76, 107, 1);
      transition: 0.3s;
    }
  }

  &__controls-mobile {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.19px;
    padding: 15px 19px;
    background-color: $white;
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    display: none;
  }
}

.footer {
  text-align: center;
  font-size: 14px;
  letter-spacing: -0.19px;
  color: rgba(148, 149, 165, 1);
}

@media (max-width: 550px) {
  .tasks__constrols-container {
    display: none;
  }

  .tasks__controls-mobile {
    display: flex;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.17px;
  }

  .tasks {
    margin-bottom: 16px;
  }

  .tasks__footer {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.17px;
  }

  .tasks__container {
    max-height: 368px;
  }

  .container {
    padding: 48px 24px 0 24px;
  }

  .input {
    padding: 14px 20px;
  }

  .input__circle,
  .tasks__circle {
    width: 20px;
    height: 20px;
    margin-right: 12px;
  }

  .input__info,
  .input__info-active {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.17px;
    left: 50px;
    bottom: 18.5px;
  }

  .input__info-active::before {
    height: 20px;
  }

  .input__text-field {
    padding-left: 100px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.17px;
  }

  .tasks__item,
  .tasks__item-completed {
    padding: 16px 20px;
  }

  .tasks__close-btn::before,
  .tasks__close-btn::after {
    opacity: 1;
    width: 16px;
  }

  .tasks__text {
    width: 79%;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.17px;
  }

  .footer {
    padding-bottom: 20px;
  }
}
